@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');


:root{
    --primary-color:red;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* container */
.container{
    
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}


/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: blueviolet;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.links-secondary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: blueviolet;
}
.list-non-bullet{
    list-style: none;

}
/* navigation */
.navigation{
    background-color: blue;
    color: white;
    padding: 1rem;
    border-bottom-left-radius:1rem;
}
.navigation.link{
    color: white;
}
.navigation.link-active{
    font-weight: bold;
}

    

